<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE  -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/astronaut.ico" rel="icon">

  <title>About Me</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                  <h3>Who am I?</h3>
                  <p> 
                    Greetings! My name is Johnny Sin, I was born in South Korea then spent my childhood in LA. 
                    Throughout my high school I was part of the Palos Verdes Institute of Technology, which sparked my passion for engineering. 
                    Later, I joined a Cell Signaling Proteomics group at UCLA which made me want to learn more about the human body and how I can improve lives with the technologies that I want to build.
                    So, I graduated UC Berkeley with a degree in Molecular and Cell Biology, and during my time in college, I tried to create a start-up with my friends. 
                    As the product engineer, my job was to build the architecture for the device that would ultimately harvest stem cells non-invasively using Autodesk Maya.
                  </p>
                  <p>
                    Immediately after, I worked in a neurological lab studying multiple sclerosis in patients for four years then moved to industry.
                    Working with patients through visual examinations and tests, I saw how important the accuracy in data analysis needs to be.
                    Currently I am working at Alkahest to study age-related neurological diseases, essentially searching for the “fountain of youth”. 
                    Throughout my career, I trained as a researcher with more than five years of experience analyzing large clinical and experimental data.
                    The most fun I had during my work was discovering an unexpected story hidden in the mountains of biological data.
                    Creatively executing statistical tests to model neurological disease was the part of my job that I truly enjoyed.
                    Although working full-time, I enrolled in classes to further hone my programming skills through online certificates, and currently, machine learning occupy the majority of my free time. 
                    Juggling between work and classes, I love creating digital animations to provide my students, patients, and fellow colleagues a more immersive learning experience and using graphic design to create T-shirts and logos! 
                  </p>
                  <p> Here my recent <a href="https://pubmed.ncbi.nlm.nih.gov/35678509/">project </a>that I published, and in this <a href="https://pubmed.ncbi.nlm.nih.gov/34100385/">paper</a> you can see the figure that I designed!
                    I am currently working on another publication and a patent! Hopefully I get to share them here soon!</p>
                  <p>GO BEARS!</p>
                    <center>
                      <img src="./static/assets/images/cal_logo.jpeg" alt="" class="img-responsive" style="width:200px;height:200px;">
                    </center>
                  
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>